/* Popup container - can be anything you want */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup Content/Box */
.popup-content {
    background-color: #fefefe;
    margin: 11%; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input.hover-center-1 {
    background-image: linear-gradient(0, #0A3D5B, #0A3D5B);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
    background-position: bottom;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

input.hover-center-1:hover {
    background-size: 100%;
    color: #fff;
}
input[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}